@{
    ViewData["Title"] = "Status";
}

<head>
	<link rel="stylesheet" href="~/css/style.css" />
</head>

<div class="navigation">
    <h3>Contract Monthly Claim System</h3>

    <a href="@Url.Action("Index","Home")">Home</a>
    <a href="@Url.Action("Claim","Home")">Claim</a>
    <a href="@Url.Action("Status","Home")">Status</a>

</div>

<h1>@ViewData["Title"]</h1>